:root {
    --main-font : 'Raleway', sans-serif;
    --description-font: 'Poor Story', cursive;
}


.hero {
    text-align: center;
    font-family: var(--main-font);
}

.container-one {
    margin-left: 290px;
    margin-top: 50px;
}

.container-one img {
     margin-right: 100px;
}

.container-two img {
    margin-left: 630px;
    margin-top: -250px;
}

.container-two .col-6 {
    margin-top: 80px;
    margin-left: 290px;
}

.container-three {
    margin-left: 270px;
    margin-top: 100px;
}

.col-6 {
    font-family: var(--description-font);
    font-size: 1.5rem;
}

button a {
    text-decoration: none;
    color: black;
}

 button a:hover {
 color: black;
}

.col-md-6 {
    font-family: var(--description-font);
     font-size: 1.5rem;
}

h1 {
    font-family: var(--main-font);
}

.img-fluid {
    margin-left: 170px;
    margin-top: 70px;
}

.social-networks {
    font-family: var(--main-font);
    font-size: 23px;
}

.social-networks a {
    color: #0057b8;
    text-decoration: none;
}

.social-networks a:hover {
    color: black;
}

footer {
   background-color: #ffd700;
}

h4 {
    font-family: var(--main-font);
}

.icons a, .icons a:hover{
    color: black;
}


nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    margin-left: 5px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover,
nav a.active {
    color: #0057b8;
}


@media (max-width:900px) {
    .hero {
      text-align: left;
 }

    .description {
    display: none;
 }
       
    .container-one img {
    max-width: 400px;
    margin-left: -280px;
    margin-top: 10px;
}

.container-two img {
    margin-left: -450px;
    margin-top: 10px;
    width: 500px;
}

.container-three img {
    margin-left: -270px;
    width: 430px;
}
 
    .container .col-md-6{
     width: 200px;
     margin-left: -7px;
}

    h1 {
     text-align: center;
    }

    .container h5 {
        margin-left: 200px;
    }
    
    nav img {
        display: none;
    }

    nav ul {
        text-align: center;
    }
}



