:root {
    --main-font : 'Raleway', sans-serif;
    --description-font: 'Poor Story', cursive;
}


.hero {
    text-align: center;
    font-family: var(--main-font);
}

.container-one {
    margin-left: 290px;
    margin-top: 50px;
}

.container-one img {
     margin-right: 100px;
}

.container-two img {
    margin-left: 630px;
    margin-top: -250px;
}

.container-two .col-6 {
    margin-top: 80px;
    margin-left: 290px;
}

.container-three {
    margin-left: 270px;
    margin-top: 100px;
}

.col-6 {
    font-family: var(--description-font);
    font-size: 1.5rem;
}

button a {
    text-decoration: none;
    color: black;
}

 button a:hover {
 color: black;
}

.col-md-6 {
    font-family: var(--description-font);
     font-size: 1.5rem;
}

h1 {
    font-family: var(--main-font);
}

.img-fluid {
    margin-left: 170px;
    margin-top: 70px;
}


@media (max-width:900px) {
    .hero {
     text-align: left; 
     }

    .description {
      display: none;
          }

     .container-one img {
        margin-left: -287px;
        margin-top: 10px;
        max-width: 150px;
     }
   

    .container-one div .buttons {
        margin-top: 20px;
        margin-left: -150px;
    }

    .container-two img {
        margin-left: -287px;
        max-width: 230px;
        margin-top: -343px;
    }

    .container-two div .buttons {
        margin-left: 250px;
        margin-top: 170px;
        max-width: 50px;
    }

    .container-three img {
        max-width: 230px;
        margin-left: -267px;
        margin-top: -100px;
    }
    

    .container-three div .buttons {
        margin-top: -130px;
        margin-left: -18px;
}

    .container .col-md-6{
     width: 200px;
     margin-left: -7px;
}

    h1 {
     margin-left: 100px;
    }

    .container h5 {
        margin-left: 200px;
    }

}



